@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,900&display=swap');

nav{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #FFF4F4;
  border-bottom: 1px solid #ffecec;
  padding: 10px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile,
.logout,
.login,
.register{
  text-decoration: none;
  font-family: 'Sansita';
  color: #B70A0A;
}

.home-link{
  text-decoration: none;
}

h1{
  font-family: 'Sansita', sans-serif;
  color: #B70A0A;
}

@media screen and (max-width: 800px) {
  nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #f9e4e4;
    border-bottom: 2px solid #fff8f8;
    padding: 10px;
  }

  .profile,
  .logout,
  .login,
  .register,
  .home-link{
    text-decoration: none;
    font-family: 'Sansita';
    color: #B70A0A;
  }

}