@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,900&display=swap');

h2{
  font-family: 'Sansita';
  color: #B70A0A;
}

.profile-div-one{
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.profile-div-two{
  display: inline-block;
  max-width: 100%;
  box-shadow:0px 1px 2px 2px lightgray;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #ffecec;
  border-radius: 20px;
}

.edit,
.delete,
.make-post{
  text-decoration: none;
  display: inline;
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
  color: #ffecec;
  font-weight: bold;
  background-color: #B70A0A;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .profile-div-one{
    flex-wrap: wrap;
    margin-right: 0px;
  }
}

@media (max-width: 800px) {
  .profile-div-one{
    flex-wrap: wrap;
    margin-right: 0px;
  }
}

@media (max-width: 600px) {
  .profile-div-one{
    flex-wrap: wrap;
    margin-right: 60px;
    margin-left: 90px;
  }
}

@media (max-width: 450px) {
  .profile-div-one{
    flex-wrap: wrap;
    margin-right: 140px;
    margin-left: 90px;
  }

  .profile-div-two{
    display: inline-block;
    width: 100%;
    box-shadow:0px 1px 2px 2px lightgray;
    padding-left: 20px;
    padding-right: 68px;
    margin-bottom: 10px;
    background-color: #ffecec;
    border-radius: 20px;
  }
}