.posts{
  display: flex;
  /* width: 400px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid lightgray;
  margin-top: 20px;
  margin-bottom: 20px; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90vw;
  padding: 40px;
}

.post{
  /* display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  /* align-content: flex-start; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 300px;
  margin: 10px;
  box-shadow:0px 1px 2px 2px lightgray;
  padding: 30px;
  margin-bottom: 10px;
  background-color: #ffecec;
  border-radius: 20px;
}