.posts{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 70px;
  margin-right: 80px;
}

.post{
  width: 250px;
  margin-top: 30px;
  margin: 20px;
  box-shadow:0px 1px 2px 2px lightgray;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #ffecec;
  border-radius: 20px;
}

.post:hover{
  background-color: #eddbdb;
  transform: scale(.9, .9);
  cursor: pointer;
}

.link{
  text-decoration: none;
  color: black;
}

@media (max-width: 1024px) {
  .posts{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-left: 45px;
  }

  .post{
    background-color: #fee5e5;
  }
}

@media (max-width: 800px) {
  .posts{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 200px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .post{
    background-color: #fee5e5;
  }
}

@media (max-width: 600px) {
  .posts{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 100px;
  }

  .post{
    background-color: #fee5e5;
  }
}

@media (max-width: 450px) {
  .posts{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25px;
  }

  .post{
    background-color: #fee5e5;
  }
}